################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Bird/Temp
/Bird/project sketch.PNG
*.docx
/bird.zip
/build
